<h1>Register</h1>

<form method="POST" action="/auth/register" id="registerForm">
    <div >
        <label for="firstName">First Name</label><br />
        <input type="text" id="firstName" name="firstName" required />
    </div>

    <div >
        <label for="lastName">Last Name</label><br />
        <input type="text" id="lastName" name="lastName" required />
    </div>

    <div >
        <label for="email">Email</label><br />
        <input type="email" id="email" name="email" required />
    </div>

    <div >
        <label for="password">Password</label><br />
        <input type="password" id="password" name="password" required />
    </div>

    <button type="submit">Register</button>
</form>