@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dotnet Training session</h1>
    <p>learning concepts</p>
    <ol>
        <li>Models</li>
        <li>Views</li>
        <li>Controllers</li>
        <li>Routing</li>
        <li>Dependency Injection</li>
        <li>Entity Framework Core</li>
        <li>ASP.NET Core Identity</li>
        <li>Web API</li>
        <li>Middleware</li>
        <li>Configuration</li>
   
</div>
